@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap");
* {
  --main-color: rgb(96, 205, 165);
}
h2{
    font-family: "Kalnia", serif;
    font-size: 35px;
}

/* Home Page */
.homePage {
  min-height: 100vh;
  background-image: url(../imgs/imgs01.png);
  background-position: center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
.homePage .position {
  left: 100px;
  top: 100px;
}
.homePage .position p {
  line-height: 30px;
  color: var(--main-color);
  font-family: "Kalnia", serif;
  margin-top: 20px;
}
.homePage .position h5 {
  font-weight: lighter;
  font-size: 40px !important;
}
.homePage .position p,
.homePage .position h5 {
  letter-spacing: 2px;
}

/* About Page */
.aboutPage .item h4 {
  font-family: "Kalnia", serif;
  font-size: 25px;
}
.aboutPage .item p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
