@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap");
* {
  --main-color: rgb(96, 205, 165);
}
h2 {
  font-family: "Kalnia", serif;
  font-size: 35px;
}

/* Home Page */
.homePage {
  min-height: 100vh;
  background-image: url(../imgs/imgs01.png);
  background-position: center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
.homePage .position {
  left: 100px;
  top: 100px;
}
.homePage .position p {
  line-height: 30px;
  color: var(--main-color);
  font-family: "Kalnia", serif;
  margin-top: 20px;
}
.homePage .position h5 {
  font-weight: lighter;
  font-size: 40px !important;
}
.homePage .position p,
.homePage .position h5 {
  letter-spacing: 2px;
}
.homePage ul li a:hover{
  color: var(--main-color) !important;
}
.homePage button{
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: rgb(41, 40, 40);
  color: white;
  border: none;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 25px;
  padding: 15px 30px;
  transition: .5s;
}
.homePage button:hover{
  background-color: 
#2E614E;
}

/* About Page */
.aboutPage .item h4 {
  font-family: "Kalnia", serif;
  font-size: 25px;
}
.aboutPage .item p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

/* Product Page */
.productPage {
  background-color: black;
  background-image: url(../imgs/imgs06.png);
  min-height: 100vh;
  background-repeat: repeat-x;
}
.productPage .header h2 {
  padding: 200px 0;
}
.productPage .img1 p,
.productPage .img2 p {
  font-size: 25px;
  margin-bottom: 0;
  padding: 20px;
  background: linear-gradient(#0a3f2b, var(--main-color));
}
.productPage .img1 {
  border: 3px solid #2e614e;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}
.productPage .img1 .style1 {
  border-top-left-radius: 70px;
}
.productPage .img1 .style-img1 {
  border-bottom-right-radius: 70px;
}
.productPage .img2 {
  border: 3px solid #2e614e;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
}
.productPage .img2 .style2 {
  border-top-right-radius: 70px;
}
.productPage .img2 .style-img2 {
  border-bottom-left-radius: 70px;
}
.background {
  min-height: 16vh;
  background-image: url(../imgs/imgs06.png);
  background-repeat: repeat-x;
}

/* Contact Page */
.contactPage form{
  max-width: 900px;
}
.contactPage form label{
  font-family: "Montserrat", sans-serif;
  color: rgb(46, 97, 78);
  font-weight: 700;
}
.contactPage form input:hover , textarea:hover{
  border: orange 1px solid;
}
.contactPage button{
  background-color: #0a3f2b;
  color: white;
  padding: 10px 25px;
  font-size: 20px;
  transition: .5s;
}
.contactPage button:hover{
  background-color: RGB(38, 164, 118);
}

/* footer */
.footer {
  background-image: url(../imgs/imgs19.png);
  background-size: cover;
  min-height: 40vh;
}
.footer .img{
  position: relative;
  left: 100px;
  top: 70px;
}
.footer .content{
    font-family: "Montserrat", sans-serif;
}
.footer .content p{
  color: var(--main-color);
  transition: .5s;
}
.footer .content p:hover{
  color: orange;
}
